[submodule "dependencies/cpp-terminal"]
	path = dependencies/cpp-terminal
	url = https://github.com/jupyter-xeus/cpp-terminal.git
[submodule "dependencies/foxspace"]
	path = dependencies/foxspace
	url = https://github.com/MCWertGaming/foxspace.git
